<ng-container>
    <button (click)="addRule()">+ Rule</button>
    <button (click)="addRuleSet()">+ Ruleset</button>
    <button (click)="removeRuleSet()" *ngIf="allowRuleset">- Ruleset</button>
    <button (click)="updateValue()" *ngIf="!allowRuleset">Change</button>
</ng-container>

<ng-container>
    <ul *ngIf="data && data.rules">
        <ng-container *ngFor="let rule of data.rules;let i=index">
            <li *ngIf="{ruleSet: rule.rules} as local">
                <ng-container *ngIf="!(!!local.ruleSet)">
                    <label>{{rule.field}} : </label>
                    <input [(ngModel)]="rule.value" type="text" input [data]="rule" (onFocusOut)='myFunction($event)'>
                    <button (click)="removeRule(i)">- Rule</button>
                </ng-container>
                <app-query-builder [data]="rule" [config]="config" [parentData]="data.rules" [allowRuleset]="true"
                    [indexRuleSet]="i" (getId)="valueChange($event)" *ngIf="local.ruleSet">
                </app-query-builder>
                <ng-container *ngIf="local.ruleSet && local.ruleSet.length === 0 ">
                    <ng-container *ngTemplateOutlet="templateRef; context: getEmptyWarningContext()"></ng-container>
                </ng-container>
                <ng-template #templateRef let-default>
                    <p> {{default}} </p>
                </ng-template>
            </li>
        </ng-container>
    </ul>
</ng-container>